/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

//Merriweather
@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather/merriweather-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Merriweather/merriweather-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Merriweather/merriweather-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Merriweather/merriweather-bold-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather/merriweather-bolditalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Merriweather/merriweather-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Merriweather/merriweather-bolditalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Merriweather/merriweather-bolditalic-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather/merriweather-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Merriweather/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Merriweather/merriweather-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Merriweather/merriweather-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Merriweather/merriweather-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Merriweather/merriweather-light-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather/merriweather-lightitalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Merriweather/merriweather-lightitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Merriweather/merriweather-lightitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Merriweather/merriweather-lightitalic-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: lighter;
  font-style: italic;
}

//Novecento
@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/Novecento/Novecentosanswide-Normal-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Novecento/Novecentosanswide-Normal-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Novecento/Novecentosanswide-Normal-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Novecento/Novecentosanswide-Normal-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Novecento/Novecentosanswide-Normal-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Novecento/Novecentosanswide-Normal-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/Novecento/Novecentosanswide-DemiBold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Novecento/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Novecento/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Novecento/Novecentosanswide-DemiBold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/Novecento/Novecentosanswide-DemiBold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Novecento/Novecentosanswide-DemiBold-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
