.site-footer{
  background-image: url(../../images/dark-wood.png);
  color: #ffffff;
}

.footer-blocks {
  display: flex;
}

.footer-block-item{
  margin: 3rem 0;
  padding-right: 1.5rem;
  width: 25%;
}

.footer-block-item:last-child{
  margin: 3rem 0;
  padding-right: 1.5rem;
  width: 50%;
}

.footer-blocks h3{
  color: #d99054;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.contact a{

  color: #ffffff;
  text-decoration: none;

  &:visited {
    color: #ffffff;
  }
  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    text-decoration: underline;
  }
}

.site-info{
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.text-logo{
  margin-top: 1rem;
  text-align: right;
}

.text-logo img{
  max-width: 50%;
}

.contact-meta i{
  margin-right: .3rem;
  font-size: 1.4rem;
}
