/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*///////////// Shop Page (Archive-Product) /////////////*/
.archive-product-area{
  padding-top: 4.5rem;
}

.shop-nav-container{
  display: flex;
  justify-content: center;
  font-family: Novecento;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;

  a{
    margin: 0 1rem;
  }
}

.page-header{
  border-bottom: 1px dashed #e1e1e1;
  margin-bottom: 40px;
  text-align: center;

}

.page-header-title{

  padding-top: 4.5rem;
}

.product-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.product-grid-item{
  border: 1px solid #e1e1e1;
  flex: 0 1 23%;
  max-width: 23%;
  margin-bottom: 1.5rem;
}

.product-info{
  padding: .75rem 1rem;
}

.product-title{
  background: #fff;
  padding-right: .25rem;
  display: inline;
  font-size: .9rem;
}

.product-title:before{
  float: left;
  width:0px;
  white-space: nowrap;
  content: "...............................................";
}

.price{
  float: right;
  padding-left: .25rem;
  background: #fff;
}


/*///////////// Single Product Page ///////////// */
.single-product-area{
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

.single-product-main{
  margin-top: 3rem;
}

.single-product .hentry{
  display: flex;
  justify-content: space-between;
}

.product-image-wrapper{
  width: 48%;
}

.product-content-wrapper{
  width: 48%;
}

.single-product-title{
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1;
  text-align: left;
  font-weight: 800;
  color: #d99054;
}

.single-price{
  font-family: Novecento, sans-serif;
  font-size: 1.7rem;
  margin-top: 0;
  text-transform: uppercase;
}


/*///////////// Journal Page and Find Us Page ///////////// */
.entry-title{
  text-align: left;
}

.google-map{
  margin-bottom: 2rem;
}
.content-area{
  width: 1120px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.5rem;
}

.site-main,
.search-main{
  border-right: 1px solid #e1e1e1;
  padding-right: 3rem;
  width: 73%;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}

.required{
  color: #d99054;
}

//Journal page
.blog .entry-header,
.single-post .entry-header{
  position: relative;

  h2{
    background-color: #248a83;
    color: #fff;
    max-width: 75%;
    padding: .75rem 1.5rem;
    position: absolute;
    top: 0;
    line-height: 1.2;
  }

  a{
    color: #fff;
  }

  a:hover,
  &:hover{
    color: #f0e4d1;
  }

  .entry-meta{
    background-color: #248a83;
    color: #fff;
    font-size: 1rem;
    font-family: Novecento;
    padding: .3rem 1rem;
    max-width: 55%;
    position: absolute;
    right: 0;
    bottom: .5rem;
  }
}

/*///////////// Single Blog Posts (single journal) ///////////// */

.entry-footer{
  font-family: Novecento, sans-serif;
  text-transform: uppercase;
}

.cat-links{
  margin-right: 1rem;
}

.social-buttons{
  margin-top: 1rem;
}

.children li {
    border-top: 1px solid #e1e1e1;
}

.comment{
  padding-top: 1.5rem;
}

.comment-body{
  padding-bottom: 1.5rem;
}

.comment-list>li {
    border-bottom: 1px solid #e1e1e1;
}

.comment-reply-title{
  font-weight: bold;
  font-size: 1.8rem;
}

.comment-form{

  label{
    font-family: Novecento, sans-serif;
    text-transform: uppercase;
  }
  textarea{
    margin-top: 1rem;
    background-color: #f4f4f4;
    border-color: #e1e1e1;
    color: #666;
  }
  p{
    margin-bottom: 1.3rem;
  }
}

.comment-form-author{
  width: 49%;
  margin-right: 1%;
  float: left;

  input{
  width: 100%;
  background-color: #f4f4f4;
  }
}

.comment-form-email{
  width: 49%;
  margin-left: 1%;
  float: left;

  input{
    width: 100%;
    background-color: #f4f4f4;
  }
}

.comment-form-url{
  width: 100%;

  input{
    width: 100%;
    background-color: #f4f4f4;
  }
}

/*///////////// About Page ///////////// */
.about-content{
  margin: 3rem auto;
  max-width: 800px;

  h1{
    font-size: 2rem;
  }

}

.about-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-weight: bold;

  h1{
    font-size: 3rem;
  }
}

.our-story{
  margin-bottom: 2rem;
}

/*///////////// Single Adventure Page ///////////// */
.adventure-container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.adventure-title{
  text-align: left;
  line-height: 1.2;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.adventure-author{
  text-transform: uppercase;
  font-family: Novecento, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.adventure-content{
  padding-top: 1rem;

  p{
    margin-bottom: 1.5rem;
  }
}

/*///////////// Archive Adventure Page ///////////// */
.latest-archive-adventure{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.adventure-item{
  flex: 0 1 49%;
  margin-bottom: 1.5rem;
  position: relative;
  max-width: 49%;
}

.adventure-item:before{
  background-color: rgba(0,0,0, 0.4);
  content: "";
  float: left;
  padding-top: 100%;
}

.adventure-wrapper{
  display: block;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.adventure-images img{
  left: 50%;
  max-height: 550px;
  max-width: none;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.adventure-header{
  margin: 4.5rem 1.5rem;
  position: absolute;
  z-index: 20;
}

.adventures-title{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4.5rem;

  a{
    color: #fff;

    &:hover,
    &:focus{
      color: #f0e4d1;
    }
  }
}


/*///////////// 404 Page ///////////// */
.widgettitle{
  font-size: 1.5rem;
}

.widget_recent_entries,
.widget_categories{
	ul{
		padding-left: 0;
	}
}

.error-title{
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left;
}

/*///////////// Search Result Page ///////////// */
.search-header{
  border-bottom: 1px solid #e1e1e1;
}

.search-title{
  text-align: left;
  font-size: 2.3rem;
  font-weight: bold;
}

.search-pagination .page-numbers.current {
  background-color: #77777c;
}

.search-pagination .page-numbers{
  background-color: #248a83;
  padding: .5rem 1rem;
  font-family: Novecento, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.search-pagination a:hover, a:active{
  background-color: #2f1339;
}
