/*------------------------ Sidebar Widget  ---------------*/


.textwidget {
  p:hover
  {
    color: #f0e4d1;
}}


.widget-area{
	padding-left: 5%;
	padding-bottom: 2rem;
	width: 27%;
	line-height: 25px;

}

.inhabitent-hours-class{
	margin-top: 3rem;
}


.widget-title{
	font-size: 1.4rem;
}

.contact1{

	i{
		line-height: 1.8;
		margin-right:0.7rem;
		width: 16px;
	}
}



.day-of-week{
font-size:1rem;
	font-weight: bold;

}


.widget_archive{margin-top: 3rem;
	 ul{
	padding-left:0;

h2{
	font-size: 1.4rem;
}
}
}
