// Structure

$base_space-unit: 1.5rem;


// Colors

$color_background-body: #fff;
$color_text-main: #404040;

$color_background-screen: #f1f1f1;
$color_text-screen: #21759b;
$color_background-hr: #ccc;
$color_background-pre: #eee;
$color_background-ins: #fff9c0;
$color_border-abbr: #666;

$color_link: #248a83;
$color_link-visited: #248a83;
$color_link-hover: #2f1339;

// Typography
$font_main:  Merriweather Web,serif;
$font_second: Novecento Sans Web,sans-serif;
$font_line-height-body: 1.75;
$font_line-height-pre: 1.75;
